<template>
  <div class="text">
    <div class="text__wrapper default-container">
      <h1 class="default-title">Colleges in {{ $route.params.state.charAt(0).toUpperCase() + $route.params.state.slice(1) }}</h1>
      <div class="states schools-by-state">
        <div class="advisor__content-result" v-for="(item, index) in schools" :key="index">
          <div class="result-name">
            <nuxt-link prefetch :to="`/schools/${ $route.params.state }/${ item.Name.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'') }/`">
              {{ item.Name }}
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  async fetch ({ store, params, error, payload, res }) {
    if (payload === undefined || res || null) {
      if (!store.state.server.schools.schoolsByStates.length) {
        try {
          await store.dispatch('server/schools/getSchoolsByStates')
        } catch (e) {
          console.log(e)
          error({ statusCode: 404, message: 'Страница не найдена' })
        }
      }
      store.dispatch('server/schools/setSchoolsByState', store.getters['server/schools/schoolsByStates'](params.state))
    } else {
      store.dispatch('server/schools/setSchoolsByState', payload)
    }
  },
  head () {
    return {
      title: `Colleges in ${ this.$route.params.state.charAt(0).toUpperCase() + this.$route.params.state.slice(1) }`
    }
  },
  computed: {
    ...mapGetters({
      schools: 'server/schools/schoolsByState',
    })
  },
}
</script>
