<template>
  <div class="text">
    <div v-if="collage || false" class="text__wrapper default-container">
      <h1>{{ collage['Institution'] }}</h1>
      <div>
        <p>{{ collage.city }}, {{ collage.state }} {{ collage.zip }}</p>
        <div>
          <a href="http://school.edu">http://school.edu</a>
        </div>
      </div>
      <div>
        {{ collage.Institution }} is a {{ collage.Highdeg == 2 ? '2' : '4' }} year {{ collage.Control == 1 ? 'Public' : collage.Control == 2 ? 'Private Non-profit' : 'Private For-profit' }} college
        offering up to the {{ collage.Highdeg == 2 ? 'Associate' : (collage.Highdeg == 3 ? 'Bachelors' : 'Graduate') }} degree.
        <br />
        Its admission rate is {{ collage.ADM_RATE_ALL | percent }}, so {{ +collage.ADM_RATE_ALL | percent }} applicants out of 100 are accepted each year.
        <br />
      </div>

      <div>
        <h3>Cost</h3>
        <ul>
          <li>
            <strong>Average cost of attendance</strong>
            , includes tuition, fees, books, supplies and living expenses: {{ collage.cost | money }}
          </li>

          <li>
            <strong>In-state tuition</strong>
            (excluding supplies and living expenses): {{ collage.instatetuition | money }}
          </li>
          <li>
            <strong>Out-of-state tuition</strong>
            (excluding supplies and living expenses): {{ collage.OutOfStateTuition | money }}
          </li>
        </ul>
        <div class="text-table">
          <h2>Average net cost</h2>
          <table class="table">
            <tr>
              <th>Household income</th>
              <th>Average net price (cost minus grants and scholarships)</th>
            </tr>
            <tr>
              <td>
                <strong>Average</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition : collage.AvgPrivateTuition) | money }}</td>
            </tr>
            <tr>
              <td>
                <strong>$0-$30,000</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition1 : collage.AvgPrivateTuition1) | money }}</td>
            </tr>
            <tr>
              <td>
                <strong>$30,001-$48,000</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition2 : collage.AvgPrivateTuition2) | money }}</td>
            </tr>
            <tr>
              <td>
                <strong>$48,001-$75,000</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition3 : collage.AvgPrivateTuition3) | money }}</td>
            </tr>
            <tr>
              <td>
                <strong>$75,001-$110,000</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition4 : collage.AvgPrivateTuition4) | money }}</td>
            </tr>
            <tr>
              <td>
                <strong>$110,001+</strong>
              </td>
              <td>{{ (collage.Control == 1 ? collage.AvgInStateTuition5 : collage.AvgPrivateTuition5) | money }}</td>
            </tr>
          </table>
        </div>
        <h3>This school occupies the {{ collage.CostPercentileState | int }}th percentile by cost among other {{ collage.Highdeg == 2 ? '2' : '4' }} year universities in {{ collage.state }}.</h3>
        This means that {{ collage.CostPercentileState | int }} of schools are less expensive then this one.
        <h3>This school occupies the {{ collage.CostPercentileStateControl | int }}th percentile by cost among other {{ collage.Highdeg == 2 ? '2' : '4' }} year universities in {{ collage.state }}.</h3>
        <h3>This school occupies the {{ collage.CostPercentileNational | int }}th percentile by cost among other {{ collage.Highdeg == 2 ? '2' : '4' }} private universities nationally.</h3>
      </div>
      <h3>Financial Aid</h3>
      <ol>
        <li>
          <strong>Percent of undergraduate students receiving federal loans:</strong>
          {{ collage.PCTFLOAN | percent }}
        </li>
        <li>
          <strong>Percent of students receiving Pell grants:</strong>
          {{ collage.PCTPELL | percent }}
        </li>
        <li>
          <strong>Median federal student loan debt (excludes private loans):</strong>
          {{ collage.DEBT_MDN | money }}
        </li>
      </ol>
      <div>
        <h3>Return On Investment (ROI)</h3>Since education is a form of investment into your future it is important to consider what you gain for every dollar you spend.
        Depending on the major, graduates of some schools earn on average more then graduates of other schools.
        But the reasons for this are not as straightforward as just the status of a given university. Consider that more competetive schools attract more
        ambitious and hard working students. While some other schools have predominately middle-upper class students whose parents will help them navigate
        the job market. Therefor neither a school with a high earning average an assurance of your future success, neither a school with a lower earning average
        a limitation on your future earning potential. Much of your success will depend on your hard work, communication skills and ability to adapt.
        <div>
          <h4>
            We calculated that this school has on average an ROI of
            <strong>{{ collage.averageroi | int }}</strong>
          </h4>How this number was calculated: we took all private and public 4 year colleges and universities that report earnings for their graduates
          and compared the average cost of attending that school for 4 years with the earning potential of the graduates over 10 years after graduation,
          taking into consideration a 5% per year salary increase. Then we averaged the ROI for all reported majors for this school.
          <br />
          <h5>To get the ROI for a specific major please select a major from this dropdown</h5>
          <div class="roi">
            <app-field-select
              v-model="roi"
              class="select-arrow"
              name="roi"
              input-classes="custom-select"
              label="Majors:"
              :options="majorsRoi"
              :reduse="item => item.code"
            />
            <strong class="result-roi">ROI: {{ roi.code | tensPercent }}</strong>
          </div>
        </div>
      </div>
      <h3>Student Body - undergraduate</h3>
      <ul class="inner">
        <li>
          <strong>Student body:</strong>
          {{ collage.UDGS | percent }}
        </li>
        <li>
          <strong>Men:</strong>
          {{ collage.UDGS_MEN | int }}
        </li>
        <li>
          <strong>Women:</strong>
          {{ collage.UDGS_WOMEN | int }}
        </li>
        <li>
          <strong>White:</strong>
          {{ collage.UDGS_WHITE | int }}
        </li>
        <li>
          <strong>Black:</strong>
          {{ collage.UDGS_BLACK | int }}
        </li>
        <li>
          <strong>Hispanic:</strong>
          {{ collage.UGDS_HISP | int }}
        </li>
        <li>
          <strong>Asian:</strong>
          {{ collage.UGDS_ASIAN | int }}
        </li>
        <li>
          <strong>American Indian:</strong>
          {{ collage.UGDS_AIAN | int }}
        </li>
        <li>
          <strong>Native Hawaiian/Pacific Islander:</strong>
          {{ collage.UGDS_NHPI | int }}
        </li>
        <h3>Student body by income</h3>
        <br />
        <li>
          <strong>$0-$30,000:</strong>
          {{ collage.INC_PCT_LO | percent }}
        </li>
        <li>
          <strong>$30,001-$48,000:</strong>
          {{ collage.INC_PCT_M1 | percent }}
        </li>
        <li>
          <strong>$48,001-$75,000:</strong>
          {{ collage.INC_PCT_M2 | percent }}
        </li>
        <li>
          <strong>$75,001-$110,000:</strong>
          {{ collage.INC_PCT_H1 | percent }}
        </li>
        <li>
          <strong>$110,001+:</strong>
          {{ collage.INC_PCT_H2  | percent }}
        </li>
      </ul>

      <div class="text-table">
        <h2>Test Scores</h2>
        <p>
          Below are the test scores as reported for most students. The 75th percentile is the score corresponding to the 75th percentile of students (most students had at least this score).
          The 25th percentile represents the lower test score that the least students (25%) have received. Thus it is better if your score is above the 75% mark, but a lower score (even below 25%) should not discourage you from applying.
        </p>
        <table class="table">
          <tr>
            <th></th>
            <th>SAT Math</th>
            <th>SAT Reading</th>
            <th>ACT Math</th>
            <th>ACT English</th>
            <th>ACT Composite</th>
          </tr>
          <tr>
            <td>
              <strong>75% (Most student's scores)</strong>
            </td>
            <td>{{ collage.SATM75 | int }}</td>
            <td>{{ collage.SATR75 | int }}</td>
            <td>{{ collage.ACTMT75 | int }}</td>
            <td>{{ collage.ACTEN75 | int }}</td>
            <td>{{ collage.ACTCM75 | int }}</td>
          </tr>
          <tr>
            <td>
              <strong>25% (Least student's scores)</strong>
            </td>
            <td>{{ collage.SATM25 | int }}</td>
            <td>{{ collage.SATR25 | int }}</td>
            <td>{{ collage.ACTMT25 | int }}</td>
            <td>{{ collage.ACTEN25 | int }}</td>
            <td>{{ collage.ACTCM25 | int }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import AppFieldSelect from "~/components/field/FieldSelectComponent.vue";

export default {
  components: {
    AppFieldSelect
  },
  data() {
    return {
      roi: ""
    };
  },
  async fetch({ store, params, error, payload, res }) {
    if (payload === undefined || res || null) {
      if (!store.state.server.collages.collagesByStates.length) {
        try {
          await store.dispatch("server/collages/getCollagesByStates");
        } catch (e) {
          error({ statusCode: 404, message: "Страница не найдена" });
        }
      }
      store.dispatch(
        "server/collages/setCollage",
        store.getters["server/collages/collageByStateAndAlias"](params.alias)
      );
    } else {
      store.dispatch("server/collages/setCollage", payload);
    }
  },
  head() {
    return {
      title: this.collage.Institution
    };
  },
  mounted() {
    this.$store.dispatch("server/majors/getMajorsRoi", this.collage.OPEID);
  },
  computed: {
    ...mapGetters({
      collages: "server/collages/collagesByStates",
      collageByStateAndAlias: "server/collages/collageByStateAndAlias",
      collage: "server/collages/collage",
      majorsRoi: "server/majors/majorsRoi"
    })
  },
  filters: {
    int: value => {
      return value === -1 || !value ? "N/A" : Math.round(value);
    },
    tensPercent: value => {
      return value || null ? value.toFixed(1) + '%' : ''
    },
    percent: value => {
      return value || null ? Math.round(value * 100) + "%" : "N/A";
    },
    money: value => {
      value = parseFloat(value);
      let n = 0;
      let re = "\\d(?=(\\d{" + 3 + "})+" + (n > 0 ? "\\." : "$") + ")";
      if (!value) return "";
      return (
        (value < 0 ? "-" : "") +
        "$" +
        Math.abs(value)
          .toFixed(Math.max(0, ~~n))
          .replace(new RegExp(re, "g"), "$&,")
      );
    }
  },
  destroyed() {
    this.$store.dispatch("server/collages/setCollage", null);
  },
  watch: {
    collages: {
      handler() {
        this.$store.dispatch("server/majors/getMajorsRoi", this.collage.OPEID);
      },
      deep: true
    }
  }
};
</script>
<style scoped>
.form-group.select-arrow {
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
  width: 50%;
}

.roi {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.result-roi {
  width: 10%;
}

.form-group.select-arrow label {
  margin-right: 20px;
}
</style>
