<template>
<div>
    <div class="advisor__aside-text">
        <h6>Search Tips</h6>
        <p>This search page is designed to give you an idea how financial decisions you make today will affect your life for many years after college. Use the Debt slider along with the Salary and Income fields to see the different outcomes. If you want to calculate expenses using exact schools and costs use the “Select different schools and lifestyle options” button. Showing the average school cost for your income bracket.  Life expenses are an approximation adjusted for your selected state.</p>
  </div>
</div>
</template>