<template>
    <div class="text">
        <div class="text__wrapper default-container">
            <h1 class="default-title">States</h1>
            <div class="states">
              <nuxt-link
                prefetch
                :to="`/states/${state.label.toLowerCase().replace(/ /g,'-').replace(/[^\w-]+/g,'')}/`"
                class="states__link"
                v-for="(state, index) in states"
                :key="index"
              >
                {{ state.label }}
              </nuxt-link>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  async fetch ({ store, params, error, payload, res }) {
    if (payload === undefined || res || null) {
      if (!store.getters['server/states/items'].length) {
        try {
          await store.dispatch('server/states/getStates')
        } catch (e) {
          error({ statusCode: 404, message: 'Страница не найдена' })
        }
      }
    } else {
      store.dispatch('server/states/setStates', payload)
    }
  },
  computed: {
    ...mapGetters({
      states: 'server/states/items',
    })
  },
}
</script>
