.advisor {
    // overflow-x: hidden;
    // background-color: #fff;
    position: relative;
    padding-bottom: 250px;
    
    &__wrapper {
        display: flex;
        padding-top: 36px;
        align-items: flex-start;
       
    }
    &__aside {
        width: 278px;
        // position: sticky;
        // top: 0;
        &-filter {
            padding: 31px 25px 24px 22px;
            background-image: linear-gradient(to right, #0091db 0%, #02a6f9 100%);
            
            h6 {
                margin-bottom: 21px !important;
                font-family: 'Avenir Next Cyrbold';
                color: #ffffff;
                font-size: 16px;
            }

            .form-group {
                margin-bottom: 13px !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &.range-block {
                    display: initial;
                    margin-bottom: 0 !important;
                }
                label {
                    color: #ffffff;
                    font-size: 14px;
                }
                input {
                    width: 127px;
                    height: 40px;
                    font-size: 14px;
                    &::placeholder {
                        font-size: 14px;
                    }
                }
                input[type=checkbox] {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &-text {
            background-color: #f1f1f1;
            margin-top: 31px;
            padding: 32px 17px 33px 22px;
            margin-bottom: 29px;

            h6 {
                margin-bottom: 26px !important;
                font-family: 'Avenir Next Cyrbold';
                color: #515770;
                font-size: 16px;
            }

            p {
                line-height: 30px;
            }
        }

        &-promo {
            // background: url('../img/teachers.png') no-repeat;
            // background-size: cover;
            width: 278px;
            height: 440px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            padding-bottom: 10px;
            img {
                width: 100%;
                height: 100%;
            }

            h5 {
                margin-bottom: 13px;
                font-family: 'Avenir Next Cyrbold';
                font-size: 22px;
                text-transform: uppercase;
            }

            span {
                font-family: 'Avenir Next Cyrbold';
                font-size: 16px;
            }
        }
    }

    &__content {
        width: 100%;
        padding-top: 1px;
        margin-left: 30px;

        .mobile__filter {
            display: none;
            position: relative;
            z-index: 3;

            &-btn {
                // margin-bottom: 37px;
                width: 100%;
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 53px;
                background-image: linear-gradient(to right, #0091db 0%, #02a6f9 100%);

                p {
                    color: #ffffff;
                    font-family: 'Avenir Next Cyrbold';
                    font-size: 16px;
                }
            }

            &-block {
                transition: all 0.3s;
                // margin-bottom: 37px;
                display: none;
                width: 100%;
                position: relative;
                // top: 53px;
                padding-bottom: 28px;
                padding-top: 20px;
                background-image: linear-gradient(to right, #0091db 0%, #02a6f9 100%);
                .advisor__mobile-check {
                    width: 100%;
                    display: flex;
                    .form-group {
                        flex-direction: row !important;
                        margin-right: 20px !important;
                        label {
                            margin-right: 10px !important;
                        }
                    }
                }
                .filter-top {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 0 20px;

                    .form-group {
                        margin-bottom: 14px !important;
                        margin-right: 3px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        label {
                            color: #ffffff;
                            font-size: 14px;
                            margin-right: 4px;
                        }

                        input {
                            width: 127px;
                        }
                        input[type=checkbox] {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
                .filter-down {
                    padding: 0 20px;
                    margin-top: 0;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;
                    .form-group {
                        label {
                            color: #ffffff;
                            font-size: 14px;
                        }
                    }

                    .select-arrow {
                        height: auto;

                        &::after {
                            top: 65%;
                        }
                    }

                    .default-submit {
                        width: 246px;
                        height: 40px;
                        align-self: center;
                        margin-top: 36px;
                        padding: 0;
                        
                        span {
                            text-shadow: 0 1px 2px #90231d;
                            color: #ffffff;
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 30px;

                        }
                    }
                }
            }

            &.active {
                .mobile__filter-block {
                    display: block;
                }

                .mobile__filter-btn {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        &-bg {
            height: 110px;
            width: 90%;
            position: absolute;
            background: url('../img/text-bg.png');
            background-size: cover;
        }

        &-form {
            display: flex;
            align-items: center;
            height: 110px;
            margin-bottom: 60px;
            .form-group {
                z-index: 1;
            }


            .city-select {
                width: 234px;
                margin-left: 72px;
                margin-right: 20px;
            }

            .code {
                width: 121px;
            }

            .type {
                width: 268px;
                margin-left: 20px;
                margin-right: 24px;
            }

            .advisor-search {
                z-index: 1;
                width: 134px;
                height: 50px;
                padding: 0 4px 6px 0;

                span {
                    text-shadow: 0 1px 2px #90231d;
                    color: #ffffff;
                    font-weight: 700;
                    margin-left: 10px;
                }
            }
        }

        &-option {
            // margin-bottom: 60px;
            // padding-top: 33px;
            display: flex;
            flex-direction: column;
            &.mobile {
                display: none;
                .advisor__content-form_mobile {
                    display: flex;
                    padding-top: 20px;
                    margin-left: 0;
                    height: auto;
                    margin-bottom: 30px;
                }
                .filter-center {
                    margin-top: 0;
                    padding: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    z-index: 10;

                    .form-group {
                        margin-right: 0;
                        margin-bottom: 13px !important;
                    }
                    .advisor-search {
                        width: 114px;

                        span {
                            text-shadow: 0 1px 2px #90231d;
                            color: #ffffff;
                            font-weight: 700;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .option-price {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
            }

            .range {
                &-block {
                    margin-left: 0px;
                    padding-top: 20px;
                    .vue-slider-rail {
                        background-color: white;
                    }
                    .vue-slider {
                       width: 100% !important;
                    }
                }

                &-strip {
                    background-color: white;
                    position: relative;
                }

                &-circle {
                    top: -11px;
                    position: sticky;
                }

                &-years {
                    span {
                        color: white;

                        &:nth-child(2) {
                            color: white;
                            font-size: 14px;
                        }

                    }

                    .start {

                        &::after {
                            background-color: white;
                        }
                    }

                    .end {

                        &::after {
                            background-color: white;
                        }
                    }
                }
            }

            .choice-price {
                margin-left: 0;
                width: 100%;
                margin-top: 10px;
                .form-group {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-bottom: 13px !important;

                    label {
                        // align-self: center;
                        margin-bottom: 5px;
                        // font-size: 14px;
                    }

                    input {
                        width: 175px;

                        @include placeholder {
                            color: #515770;
                            font-family: 'Avenir Next Cyrbold';
                        }
                    }
                    &:last-child {
                        height: auto;
                        .custom-select {
                            height: 40px !important;
                            // width: 278px;
                            font-family: 'Avenir Next Cyrbold';
                            font-size: 14px;
                        }
                    }
                }
            }

            .advisor-select {
                position: absolute;
                margin-top: 0;
                bottom: 70px;
                height: 50px;
                width: 380px;
                align-self: center;
                z-index: 2;
                span {
                    text-shadow: 0 1px 2px #90231d;
                    color: #ffffff;
                    font-weight: 700;
                    font-size: 16px;
                }
            }
        }

        &-result {
            padding-top: 19px;
            height: 352px;
            background-color: #f1f1f1;
            position: relative;
            margin-bottom: 35px;
            .characteristics .property ul .no::after {
                background-image: url('../img/not-done.png');
                top: 3px;
            }
            .mobile-characteristics {
                display: none;
                width: 100%;

                .characteristics-name {
                    display: flex;
                    justify-content: space-between;

                    .year {
                        margin-right: 2px;
                        display: flex;
                        flex-direction: column;

                        p {
                            line-height: 19px;
                            display: inline-block;
                        }
                    }

                    .uni {
                        display: flex;
                        flex-direction: column;
                    }

                    span {
                        font-size: 13px;
                        font-family: 'Avenir Next Cyrbold';
                        line-height: 20px;
                    }
                }

                .characteristics-center {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    padding-bottom: 13px;
                    border-bottom: 1px solid #d0d0d0;

                    .name {
                        p {
                            line-height: 20px;
                        }
                    }

                    .price {
                        display: flex;
                        flex-direction: column;

                        span {
                            color: #0091db;
                            font-family: 'Avenir Next Cyrbold';
                            font-size: 14px;
                            line-height: 21px;
                        }
                    }
                }

                .characteristics-img {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 13px;

                    .item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;
                            margin-bottom: 5px;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }

                p {
                    font-size: 12px;
                }
            }

            .stars {
                position: absolute;
                left: -16px;
                top: -13px;
                width: 70px;
                height: 100px;
                border-radius: 8px;
                background-color: #52ac62;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            .result {
                &-name {
                    padding-right: 28px;
                    padding-left: 63px;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 20px;
                    height: 92px;
                    box-shadow: 0 12px 12px rgba(114, 114, 114, 0.1);
                    background-color: #ffffff;

                    .time {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            line-height: 30px;

                            span {
                                margin-left: 38px;
                                font-family: 'Avenir Next Cyrbold';
                            }
                        }
                    }

                    .price {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        p {
                            text-align: right;
                            line-height: 30px;
                            color: #0091db;
                            font-family: 'Avenir Next Cyrbold';
                        }
                    }

                }

            }

            .characteristics {
                padding-right: 48px;
                padding-left: 40px;
                padding-top: 25px;
                display: flex;
                justify-content: space-between;

                h6 {
                    font-size: 16px;
                    font-family: 'Avenir Next Cyrbold';
                }

                .property {
                    padding-top: 3px;

                    ul {
                        padding-left: 33px;
                        padding-top: 20px;

                        li {
                            letter-spacing: -0.036em;
                            margin-bottom: 8px;
                            text-transform: uppercase;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                left: -33px;
                                width: 20px;
                                height: 20px;
                                background-image: url('../img/done.png');
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }

                .cost {
                    ul {
                        li {
                            margin-bottom: 2px;

                            p {
                                text-align: right;

                                span {
                                    display: inline-block;
                                    min-width: 86px;
                                    font-family: 'Avenir Next Cyrbold';

                                    &.blue {
                                        color: #0091db;
                                    }

                                    &.green {
                                        color: #52ac62;
                                    }

                                    &.yelow {
                                        color: #e1c35a;
                                    }

                                    &.red {
                                        color: #ca5451;
                                    }

                                    &.grey {
                                        color: #b8b8b8;
                                    }

                                    &.summary {
                                        font-size: 12px;
                                        color: #ca5451;
                                    }
                                }

                                &.total {
                                    font-family: 'Avenir Next Cyrbold';
                                }
                            }
                        }
                    }
                }
            }

            .not-info {
                width: 436px;
                height: 103px;
                border: 3px solid #ca5451;
                text-transform: uppercase;
                color: #ca5451;
                font-size: 42px;
                text-align: center;
                line-height: 90px;
            }

            &.college2 {
                .stars {
                    background-color: #e1c35a;
                }
            }

            &.college3 {
                .stars {
                    background-color: #ca5451;
                }
            }

            &.college4 {
                .stars {
                    background-color: #b8b8b8;
                }

                .characteristics {
                    align-items: center;

                }
            }
        }

        &-moore {
            width: 202px;
            height: 50px;
            border-radius: 25px;
            background-color: #016fa6;
            position: absolute;
            bottom: 144px;
            right: 36.7%;
            z-index: 2;

            span {
                text-shadow: 0 1px 2px #0177b2;
                color: #ffffff;
                font-size: 16px;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }
}
