@media #{$lg} {
    .advisor {
        margin-bottom: 0;
        padding-bottom: 50px;
        .item-result {
            margin-top: 37px;
        }
        &__wrapper {
            flex-direction: column;
            padding: 0 25px;
        }

        &__aside {
            width: 100%;
            padding-bottom: 40px;

            &-filter {
                display: none;
            }

            &-text {
                width: 100%;
            }

            &-promo {
                margin: 0 auto;
            }
        }
        .filter-center {
            &>div {
                width: 100%;
            }
        }
        .mobile__filter {
            display: block;
            &-block {
                .advisor__content-form {
                    justify-content: space-between;
                    display: flex;
                    height: auto;
                    margin-left: 0;
                    padding-top: 0;
                    .home-select1 {
                        width: 203px;
                    }
                    .home-select3 {
                        width: 203px;
                    }
                }
            }
        }
       
        &__content {
            margin-left: 0;
            order: -1;

            &-form {
                display: none;
            }
            &-option {
                margin-bottom: 60px;
                padding-top: 33px;
                .option-price {
                    justify-content: center;
                    flex-direction: row;
                }
                &.mobile {
                    display: flex;
                    .vue-slider {
                        width: 308px!important;
                    }
                    .vue-slider-rail {
                        background-color: #01a0f0;
                    }
                    .vue-slider-process {
                        background-color: #01a0f0 !important;
                    }
                    .range-years {
                        span {
                            color: #515770;
                            &:nth-child(2) {
                                color: #01a0f0;
                                font-size: 16px;
                            }
                            &:after {
                                background-color: #01a0f0;
                            }
                        }
                    }
                    .filter-center {
                        .advisor__content-form_mobile {
                            justify-content: center;
                        }
                        .form-group {
                            margin-right: 20px;
                            margin-bottom: 0;
                        }
                        .home__search {
                            margin-top: 0;
                            margin-bottom: 13px !important;
                        }
                    }
                }
                .default-submit {
                    position: initial;
                    width: 290px;
                    height: 40px;
                    margin-top: 30px;
                    padding: 0;
                    span {
                        text-shadow: 0 1px 2px #90231d;
                        color: #ffffff;
                        font-size: 13px;
                        font-weight: 700;
                        line-height: 30px;
    
                    }
                }
                .choice-price {
                    display: none;
                    // margin-left: wsm(77);
                    // width: 100%;
                }
            }

            &-result {
                .not-info {
                    width: wsm(436);
                    height: wsm(103);
                    font-size: wsm(42);
                    line-height: wsm(90);
                }
            }

            &-bg {
                display: none;
            }

            &-moore {
                display: block;
                height: 40px;
                margin: 0 auto;
                margin-top: 35px;
                position: relative;
                bottom: 0;
                right: 0;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}

@media #{$md} {
    .advisor {
        background-color: #fff;

        &__wrapper {
            padding: 0 15px;
            padding-top: 9px;

        }

        &__aside-text {
            background-color: #fff;
            padding: 16px 17px 33px 13px;

            h6 {
                display: none;
            }
        }

        &__content {
            margin-left: 0;
           
            .mobile__filter-block {
                .filter-top {
                    flex-direction: column;
                    .form-group {
                        flex-direction: row;
                    }
                }
                .advisor__mobile-check {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    .form-group {
                        flex-direction: row !important;
                        margin-right: 20px !important;
                        label {
                            margin-right: 10px !important;
                        }
                    }
                }
                .filter-center {
                    flex-wrap: wrap;
                    .city-select {
                        width: 100%;
                        color: #515770;
                    }
                    &>div {
                        width: 100%;
                    }
                    .advisor__content-form {
                        justify-content: flex-start;
                        display: flex;
                        flex-direction: column;
                        height: auto;
                        margin-left: 0;
                        padding-top: 0;
                    }
                    .form-group {
                        margin-bottom: 10px !important;
                        input {
                            color: #515770;
                            &::placeholder {
                                color: #515770;
                            }
                        }
                        &.code {
                            width: 88px;
                        }
                        &.type {
                            width: 151px;
                        }
                        &.home-select3,  &.home-select1 {
                            width: 234px;
                        }
                    }
                    .advisor-search {
                        height: 40px;
                        margin: 0 auto;
                    }
                }
                .filter-down {
                    label {
                        display: block;
                    }
                    input {
                        width: 175px;
                        &::placeholder {
                            color: #515770;
                        }
                    }
    
                }
            }
            &-option {
                padding-top: 0;
                margin-bottom: 34px;
                .range-block {
                    .vue-slider {
                        width: 265px!important;
                    }
                }
            }

            &-result {
                position: relative;
                margin-bottom: 15px;
                height: auto;
                padding-bottom: 10px;

                .characteristics {
                    padding: 10px 13px 10px 36px;
                }

                .mobile-characteristics {
                    display: block;
                }

                .result-name {
                    display: none;

                    .price {
                        display: none;
                    }
                }
                .characteristics-img {
                    .item {
                        &.green {
                            display: flex;
                        }
                        &.red, &.yellow {
                            display: none;
                        }
                    }
                }
                &.college2 {
                    .item {
                        &.yellow {
                            display: flex;
                        }
                        &.red, &.green {
                            display: none;
                        }
                    }
                }
                &.college4 {
                    .characteristics-img {
                        display: none;
                    }
                }
                &.college3 {
                    .item {
                        &.red {
                            display: flex;
                        }
                        &.green {
                            display: none;
                        }
                    }
                }
                .stars {
                    padding-top: 7px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 20px;
                    height: 100%;
                    border-radius: 0;
                    justify-content: flex-start;

                    img {
                        width: 12px;
                        height: 12px;
                    }
                }

                .not-info {
                    width: wxs(240);
                    bottom: 20px;
                    border: 3px solid #a09d9d;
                    text-transform: uppercase;
                    color: #a09d9d;
                    font-weight: bold;
                    font-size: 25px;
                    left: 53.5%;
                    transform: translateX(-50%);
                    height: auto;
                    padding: 20px 0px;
                    opacity: 0.5;
                    // display: none;
                    position: absolute;
                }

                .characteristics {
                    .property {
                        display: none;
                    }

                    .cost {
                        display: none;
                    }
                }
            }

            &-moore {
                display: block;
                height: 40px;
                margin: 0 auto;
                margin-top: 35px;
                position: relative;
                bottom: 0;
                right: 0;

                span {
                    font-size: 14px;
                }
            }
        }
    }
}